{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    {% with configurations|first as first_configuration %}
<h1 style="text-align: center">Configurations of <i>{{ first_configuration.task.title }}</i></h1>
    {% endwith %}
    {% for configuration in configurations %}
        <article class="media content-section">
          <div class="media-body">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: 1rem">Time limit: {{ configuration.time_limit }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Memory limit: {{ configuration.memory_limit }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Language: {{ configuration.language.title }}</legend>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'configuration_delete' configuration.id %}">Delete</a>
                {{ form|crispy }}
            </fieldset>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}