{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ request.path_info }}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Add configuration</h3>
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
                <a class="btn btn-outline-info float-right" href="{% url 'task_update' pk=form.task.value %}">Back</a>
            </div>
        </form>
    </div>
{% endblock content %}