{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <script>
        var editor = CodeMirror(document.body);
    </script>
    <div class="content-section">
        <form method="POST" action="{{ request.path_info }}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Challenge <i>{{ task.title }}</i></h3>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: 1rem">{{ task.description }}</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group CodeMirror">
                <textarea name="editor" class="codemirror-textarea"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}