{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="media content-section">
        <form method="POST" action="{{ request.path_info }}" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>My submit on <i>{{ submition.task.title }}</i></h3>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: 1rem">Result: {{ submition.result }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Elapsed time: {{ submition.elapsed_time }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Message: {{ submition.message }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Language: {{ submition.configuration.language.title }}</legend>
                {{ form|crispy }}
            </fieldset>
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'download_solution' submition.id %}">Download Solution</a>
        </form>
    </div>
{% endblock content %}