{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Task</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
                <a class="btn btn-outline-info float-right" href="{% url 'new_test' form.instance.id %}">Add test</a>
                <a class="btn btn-outline-info float-right" href="{% url 'configuration_add' task.id %}">Add configuration</a>
            </div>
        </form>
    </div>
{% endblock content %}