{% extends "base.html" %}
{% block content %}
    {% with tests|first as first_test %}
        <h1 style="text-align: center">Tests for <i>{{ first_test.task.title }}</i></h1>
    {% endwith %}

    {% for test in tests %}
        <article class="media content-section">
          <div class="media-body">
            <div class="task-metadata">
              <p class="mr-2">
                <h5>Input:</h5>
                  {% for str in test.input|slice:"5" %}
                      {{ forloop.counter }}.  {{ str.decode|slice:"75" }} <br>
                  {% endfor %}

              <p class="mr-2">
                <h5>Output:</h5>
                  {% for str in test.output|slice:"5" %}
                      {{ forloop.counter }}.  {{ str.decode|slice:"75" }} <br>
                  {% endfor %}

              <p class="mr-2">Public: {{ test.public }}

            </div>
              {% if owner %}
                  <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'download_test' test.id 1 %}">Download Input</a>
                  <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'download_test' test.id 0 %}">Download Output</a>
                  <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'task_test_delete' test.id %}">Delete</a>
              {% endif %}
          </div>
        </article>
    {% endfor %}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}