{% extends "base.html" %}
{% block content %}
    <h1 style="text-align: center">Challanges</h1>
    {% for task in tasks %}
        <article class="media content-section">
          <div class="media-body">
            <div class="task-metadata">
                <p class="mr-2"><img src="{{ task.owner.profile.image.url }}" class="rounded-circle account-img"> <b>{{ task.owner }}</b>  </p>
              <small class="text-muted">{{ task.created|date:"F d, Y" }}</small>
            </div>
            <h2><a class="task-title" href="{% url 'task' task.id %}">{{ task.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}