{% extends "base.html" %}
{% block content %}
  <article class="content-section">
    <div class="media-body">
      <div class="task-metadata">
        <p class="mr-2"><img src="{{ task.owner.profile.image.url }}" class="rounded-circle account-img"> <b>{{ task.owner }}</b></p>
        <small class="text-muted">{{ task.created|date:"F d, Y" }}</small>
      </div>
      <h2 class="task-title">{{ task.title }}</h2>
      <p class="task-content">{{ task.description }}</p>
      <div class="form-group">
        <a class="btn btn-outline-info" href="{% url 'submit_task' task.id %}">Start coding</a>
      </div>
      {% for test in tests %}
      <br>
          <h4>Test {{ forloop.counter }}</h4>
          <h5>Input:</h5>
              {% for str in test.input %}
                  {{ forloop.counter }}.  {{ str.decode }} <br>
              {% endfor %}
          <h5>Output:</h5>
              {% for str in test.output %}
                  {{ forloop.counter }}.  {{ str.decode }} <br>
              {% endfor %}
      {% endfor %}
    </div>
  </article>

{% endblock content %}
