{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
    {% with submitions|first as first_submition %}
<h1 style="text-align: center">Submitions on <i>{{ first_submition.task.title }}</i></h1>
    {% endwith %}
    {% for submition in submitions %}
        <article class="media content-section">
          <div class="media-body">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-size: 1rem">Result: {{ submition.result }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Elapsed time: {{ submition.elapsed_time }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Message: {{ submition.message }}</legend>
                <legend class="border-bottom mb-4" style="font-size: 1rem">Language: {{ submition.configuration.language.title }}</legend>
                {{ form|crispy }}
            </fieldset>
              <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'download_solution' submition.id %}">Download Solution</a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}