{% extends "base.html" %}
{% block content %}
<h2>We are Codeer</h2>
Codeer is a service for online test tasks in programming.

You can <a href="{% url 'task_list' %}">solve some tasks</a> or <a href="{% url 'new_task' %}">create u'r own task</a>.
{% endblock content %}