{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/codeer/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/codeer/plugin/codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/codeer/plugin/codemirror/theme/dracula.css' %}">

    <title>Codeer</title>

</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'task_list' %}">Codeer</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'about' %}">About us</a>
            </div>
            <div class="navbar-nav">
              {% if not user or user.is_authenticated %}
                 <div class="dropdown">
                    <button style="background: none; border: 0px" class="btn btn-primary dropdown-toggle nav-item nav-link" type="button" data-toggle="dropdown">Tasks
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="nav-item nav-link" href="{% url 'new_task' %}">Create task</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'user_tasks' %}">My tasks</a></li>
                        <li><a class="nav-item nav-link" href="{% url 'submitted_tasks' %}">My submitions</a></li>
                    </ul>
                </div>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
          <!--
        <div class="col-md-4">
          <div class="content-section">
            <h3>Sidebar</h3>
            <p class='text-muted'>Welcome
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">New Challanges</li>
                <li class="list-group-item list-group-item-light">Best Codeers of the week</li>
              </ul>
            </p>
          </div>
        </div> -->
      </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!--codemirror-->
    <script type="text/javascript" src="{% static 'codeer/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'codeer/plugin/codemirror/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'codeer/js/default.js' %}"></script>
    <script type="text/javascript" src="{% static 'codeer/plugin/codemirror/mode/python/python.js' %}"></script>
</body>
</html>