<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{{ request.path_info }}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button>Submit</button>
</form>
</body>
</html>