body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #79848b;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.task-title {
  color: #444444;
}

a.task-title:hover {
  color: #428bca;
  text-decoration: none;
}

.task-content {
  white-space: pre-line;
}

.task-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.task-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.task-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.task-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.CodeMirror {
  font-family: Arial, monospace;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: none;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropdown-menu { background: #79848b}
